<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">{{ header }}</h1>
        </div>
        <div class="card-body">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {{ form_start(form) }}

            {{ form_widget(form) }}
            <button class="btn btn-lg btn-outline-success" type="submit">
                {{ button_label }}
            </button>
            {{ form_end(form) }}
        </div>
        {% if app.user %}
            <div class="mb-3 card-footer text-muted">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}
    </div>
</div>