<div class="d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            <h1 class="h3 mb-3 font-weight-normal">{{ header }}</h1>
        </div>
        <div class="card-body">
            {{ form_start(form) }}

            {{ form_widget(form) }}

            <div class="d-flex">
                <button class="btn btn-lg btn-outline-success me-3 fs-6" type="submit">
                    {{ button_label }}
                </button>
                {% if canDelete %}
                    {{ include('games/_delete_form.html.twig') }}
                {% endif %}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>