{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %} {{ game.name }} {% endblock %}

{% block body %}

    <h2>{{ game.name }}</h2>
    <h4>{{ game.category }}</h4>
    <p>{{ game.description }}</p>

{% endblock %}