{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %} Store {% endblock %}

{% block body %}
    {% if games %}
        <div class="d-flex justify-content-center align-items-center mt-5">
            <h1 class="text-white">List of all games :</h1>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <form class="d-flex" action="{{ path('redirect_search')}}" method="POST">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search" id="search">
                <button class="btn btn-outline-light" type="submit">Search</button>

            </form>

        </div>

        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="row row-cols-3 row-cols-md-3 g-4 ms-5">
                {% for game in games %}
                    <div class="col mb-5">
                        <div class="card mx-5 border-warning h-100" style="width: 18rem;">
                            <div class="card-header text-white bg-warning">
                                <h1 class="h3 mb-3 font-weight-normal">{{game.name}}</h1>
                            </div>
                            <div class="card-body">
                                <p class="card-text text-black">{{ game.category }}</p>
                                <p class="card-text text-black">{{ game.description }}</p>
                                <div class="d-flex">
                                    <a href="{{ path("game_download", {'id': game.getId()}) }}" class="btn btn-outline-success">Download</a>
                                    <div class="mx-auto"></div>
                                    <p class="text-black">{{ downloads[game.id] }} 📥</p>
                                </div>
                            </div>
                            {% if app.user and app.user.id == game.idUser %}
                                <div class="card-footer d-flex">
                                    <a class="btn btn-outline-primary me-3" href="{{ path("game_edit", {'id': game.getId()}) }}" >Edit</a>
                                    {{ include('games/_delete_form.html.twig') }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="d-flex justify-content-center align-items-center mt-5">
            <h1 class="text-white">Nothing in here 🕵️!</h1>
        </div>
    {% endif %}
{% endblock %}