{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block title %} Store {% endblock %}

{% block body %}
    {% if games %}
        <div class="d-flex justify-content-center align-items-center mt-5">
            <h1 class="text-white">List of all games :</h1>
        </div>
        <table class="table table-dark table-striped table-hover table-bordered mt-5">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Category</th>
                <th scope="col">Description</th>
                <th scope="col">Downloads</th>
                <th scope="col"></th>
            </tr>
            </th️ead>
            <tbody>
            {% for game in games %}
                <tr>
                    <td>{{game.name}}</td>
                    <td>{{ game.category }}</td>
                    <td>{{ game.description }}</td>
                    <td>{{ downloads[game.id] }}</td>
                    <td>
                        <a class="btn btn-outline-info" href="{{ path('game_show', {'id': game.getId()}) }}">•••</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4>Sorry, no game stored :(</h4>
    {% endif %}
{% endblock %}